# App
FLASK_ENV=development
PORT=5000

# Base de datos (local/dev)
# Formato SQLAlchemy para PostgreSQL
DATABASE_URL=postgresql+psycopg2://<usuario>:<password>@<host>:5432/<nombre_db>

# Auth
JWT_SECRET_KEY=<cambia-este-valor>
STATIC_BEARER_TOKEN=misw4304-static-bearer

# Opcional: evita create_all en ciertos contextos
# SKIP_DB_CREATE_ALL=true